/Ciclo2/Funciones/nbproject/private/
/Ciclo2/Funciones/build/
/Ciclo2/Ciclos/nbproject/private/
/Ciclo2/Ciclos/build/
/Ciclo2/Triki/nbproject/private/
/Ciclo2/Triki/build/
/Ciclo2/Promoción/nbproject/private/
/Ciclo2/Promoción/build/
/Ciclo2/Swing/HolaMundo1/nbproject/private/
/Ciclo2/Swing/HolaMundo1/build/